<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>blog-api</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav></nav>
        <div>
            <h1>blog-api</h1>
        </div>
        <footer></footer>
    </body>
</html>
